<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>

    <div id="app">
        <p v-if="items.length === 0">No Item</p>
        <ul>
            <li v-for="item in items">{{item}} - <a href="#" v-on:click="removeItem(item)">Remove</a></li>
        </ul>
        
        {{item}} </br>

        <input type="text" v-model="item"> 
        <input type="button" value="Add Item" v-on:click="addItem">
         

    </div>

    <script src="view.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                items: ["Menghadiri Interview konsultanku","Mengerjakan tes konsultanku","Mencuci pakaian kotor"],
                item: ''
            },
            methods: {
                addItem() {
                    this.items.push(this.item)
                    this.item = ''
                },
                removeItem(item){
                    const index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                    
                }
            },
            
        })
    </script>
    
</body>
</html>